.footer-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    padding: 3% 0 3% 0;
    background-color: #424769;
    position: relative;
}

.footer {
    height: 100%;
    gap: 5%;
}

a {
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
