.timeline {
    position: relative;
    &:before {
        top: 0px;
        bottom: 0px;
        position: absolute;
        content: " ";
        background-color: white;
        width: 1px;
        left: 45%;
    }
}

.entry-container {
    gap: 50px;
}

.entry {
    width: 100%;
    justify-content: center;
    transform: translateX(5%);
}

.date {
    text-align: end;
    margin-right: 8%;
    width: 20%;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: white;
    aspect-ratio: 1 / 1;
    justify-self: center;
    margin-top: 0.25%;
    border-radius: 100%;
}

.description-container {
    width: 40%;
    margin-left: 8%;
}

.description {
    font-size: 80%;
}

.title {
    margin: 0;
}
