<div class="flex-col align-center container">
    <div class="flex-col">
        <span class="slide-in" style="--slide-duration: 0.5s;">Hi, I'm</span>
        <span class="abril-fatface slide-in" style="--slide-duration: 1s;">JAKOB</span>
        <span class="description slide-in" style="--slide-duration: 2s;">A software engineer with a passion for
            design and frontend</span>
    </div>

    <button class="accent-button slide-in" style="--slide-duration: 2s;">
        <a href="assets/resources/Resume.pdf" download="Resume.pdf">Download CV</a>
    </button>
</div>