<div class="flex-col align-center container">
    <div class="flex-col">
        <span class="text-white slide-in" style="--slide-duration: 0.5s;">Hi, I'm</span>
        <span class="abril-fatface text-white slide-in" style="--slide-duration: 1s;">JAKOB</span>
        <span class="text-white description slide-in" style="--slide-duration: 2s;">A software engineer with a passion for design and frontend</span>
    </div>

    <button class="accent-button slide-in" style="--slide-duration: 2s;">Download CV</button>
</div>
