<div class="nav-bar">
    <span class="logo">Jakob.</span>
     <div id="menu-items" class="menu-item-container">
         <div class="menu-item">Home</div>
         <div class="menu-item">About me</div>
         <div class="menu-item">Skills</div>
         <div class="menu-item">Experience & Education</div>
         <div class="menu-item">Projects</div>
         <fa-icon [icon]="faMoon" class="menu-item"></fa-icon>
         <fa-icon [icon]="faFlag" class="menu-item"></fa-icon>
     </div>
</div>