<div class="nav-bar">
    <span class="logo" (click)="reloadPage()">Jakob.</span>
    <div id="menu-items" class="menu-item-container">
        <div class="menu-item" (click)="scrollToElement('section-home')">Home</div>
        <div class="menu-item" (click)="scrollToElement('section-about')">About me</div>
        <div class="menu-item" (click)="scrollToElement('section-skills')">Skills</div>
        <div class="menu-item" (click)="scrollToElement('section-experience')">Experience & Education</div>
        <div class="menu-item" (click)="scrollToElement('')">Projects</div>
        <fa-icon [icon]="isDarkMode() ? faSun : faMoon" class="menu-item" (click)="toggleDarkMode()"></fa-icon>
        <fa-icon [icon]="faFlag" class="menu-item"></fa-icon>
    </div>
</div>