<div>
    <h1 style="text-align: center;">My <span class="accent">skills</span></h1>

    <div class="flex-row skill-group-container">
        <app-skill-card [skillGroup]="frontendSkills" (toggleSkillGroup)="toggleSkillGroup($event)"></app-skill-card>
        <app-skill-card [skillGroup]="backendSkills" (toggleSkillGroup)="toggleSkillGroup($event)"></app-skill-card>
        <app-skill-card [skillGroup]="technicalSkills" (toggleSkillGroup)="toggleSkillGroup($event)"></app-skill-card>
    </div>

    <div id="skill-accordion" class="accordion-background full-width scale-y" *ngIf="showSkillGroup" style="--scale-duration: 0.5s; --fade-duration: 1s;">
        <!-- Limit width again -->
        <div style="max-width: 1200px; width: 100%;">
            <div class="skill-container">
                <div class="skill" *ngFor="let skill of activeSkillGroup?.skills">
                    <span>{{skill.title}}</span>
                    <div class="level-bar-border">
                        <div class="center level-bar" style="--level: {{skill.level}}%"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>