<div id="overview-container" class="overview-container flex-col white">
    <app-nav-bar class="max-width fade-in" style="--fade-duration: 2s;"></app-nav-bar>
    <app-section-home id="section-home" class="max-width fade-in" style="--fade-duration: 4s;"></app-section-home>
    <app-section-about id="section-about" class="max-width fade-in" style="--fade-duration: 5s;"></app-section-about>
    <app-section-skills id="section-skills" class="max-width"></app-section-skills>
    <app-section-experience-education id="section-experience" class="max-width"></app-section-experience-education>
    <app-footer></app-footer>
</div>