.button-container {
    width: 100%;
    gap: 5%;
}

button {
    width: 15%;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-enabled {
    color: white;
    background-color: #7077A1;
}

.button-disabled {
    background-color: #444962;
    color: #808080;
}
