.text-color {
    color: var(--text-color);
}

.button-container {
    width: 100%;
    gap: 5%;
    color: var(--text-color);
}

button {
    width: 15%;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-enabled {
    color: var(--text-color);
    background-color: var(--base-highlight-2);
}

.button-disabled {
    background-color: var(--base-highlight-disabled);
    color: var(--text-disabled);
}
