<div class="flex-col center" style="gap: 50px;">
    <h1 class="title">Experience <span class="text-color">&</span> Education</h1>

    <div class="flex-row center button-container">
        <button id="button-experience" (click)="toggleExperience()"
            [ngClass]="!showExperience ? 'button-disabled' : 'button-enabled'">Experience</button>
        <button id="button-education" (click)="toggleEducation()"
            [ngClass]="showExperience ? 'button-disabled' : 'button-enabled'">Education</button>
    </div>

    <app-timeline class="max-width" [experiences]="experiences" [education]="education"
        [showExperience]="showExperience"></app-timeline>
</div>