// To use this animation add the fade-in class to the element and add a --fade-duration style
.fade-in {
    animation: fadeIn var(--fade-duration);
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInDelay {
    0% { opacity: 0%; }
    10% { opacity: 0%; }
    100% { opacity: 100%; }
}

// To use this animation add the fade-in class to the element and add a --slide-duration style
.slide-in {
    animation: slideIn var(--slide-duration);
}

@keyframes slideIn {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(0); }
}

.scale-y {
    animation: scaleY var(--scale-duration);
    transform-origin: top;
}

.scale-y * {
    animation: fadeInDelay var(--fade-duration);
}

@keyframes scaleY {
    0% { transform: scaleY(0%) }
    100% { transform: scaleY(100%) }
}
