/* You can add global styles to this file, and also import other style files */
// Import other stylesheets
@import url("./animations.scss");
@import url("./themes.scss");

html {
    height: 100%;
    background-color: var(--base-color);
}

body {
    margin: 0;
    padding: 0;

    // Global font
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

.max-width {
    max-width: 1200px;
    width: 100%;
}

.text-light {
    font-weight: 300;
    font-style: normal;
}

.text-bold {
    font-weight: 700;
    font-style: normal;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.absolute-center {
    position: absolute;
    align-content: center;
    justify-content: center;
}

.full-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}
