.darkTheme {
    --base-color: #2D3250;
    --base-highlight: #424769;
    --base-highlight-2: #7077A1;
    --base-highlight-disabled: #444962;
    --base-shadow: #272C48;
    --text-color: white;
    --text-disabled: #808080;
    --accent-color: #F6B17A;
    --accent-bg: #F6B17A;
    --accent-gradient: linear-gradient(to right,#F6B17A, #F68226);
    --black : #000000;
}

.lightTheme {
    --base-color: white;
    --base-highlight: #ECECEC;
    --base-highlight-2: #ECECEC;
    --base-highlight-disabled: #FFEFE3;
    --base-shadow: #F1F1F1;
    --text-color: black;
    --text-disabled: #B9B9B9;
    --accent-color: #F6B17A;
    --accent-gradient: linear-gradient(to right,#F6B17A, #F68226);
    --black : #000000;
}
